@import '../../assets/styles/colors';

.converter {
  position: relative;
  display: flex;
  flex-direction: column;

  height: 100vh;
  padding: 24px;

  background-color: $light-grey;
  box-shadow: 0 0 2px 4px rgba($grey, 0.2);


  .title {
    letter-spacing: normal;
  }

  .converter-results__wrapper {
    display: flex;
    flex-direction: column;

    margin-top: 1rem;

    .bold {
      font-weight: 600;
    }

    div {
      height: 2rem;
    }
  }
}
